body {
  margin: 0;
  font-family: Arial;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.app-container {
  width: 900px;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  margin-right: 20px;
  height: 25px;
  width: 320px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.category-filter {
  height: 27px;
  width: 130px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 20px;
}
.location-filter {
  height: 27px;
  width: 150px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.jobs-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.jobs-list li {
  width: 100%;
}

.job-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
}

.job-title {
  font-size: 18px;
  font-weight: bold;
  color: #111827;
}

.company {
  color: #14b8a6;
  margin-top: 6px;
  font-weight: bold;
}
